

body{
    //background-image: url("../images/spacebackground.jpg");
    //background-image: url("../images/zombie_1.jpg");
    background-image: url("../images/zombie_2.jpg");
    background-size: cover;
    //background: no-repeat;
    //background-color: #612fcd;

}
.titleText{

    font-family: 'Frijole', cursive;
    font-size: 90px;
    color: white;
    text-align: center;
}

.preGameText{

    font-size: 20px;
    font-family: 'Baloo Bhaijaan', cursive;
    color: white;

}

.gameText{

    font-size: 25px;
    font-family: 'Baloo Bhaijaan', cursive;
    color: white;

}
.loseText{

    font-size: 25px;
    font-family: 'Baloo Bhaijaan', cursive;
    color: purple;

}





