

body{
    background-image: url("../images/spacebackground.jpg");
    background-size: cover;
//background-color: #612fcd;

}
.titleText{

    font-family: 'Frijole', cursive;
    font-size: 60px;
    color: white;
    text-align: center;
}

.preGameText{

    font-size: 20px;
    font-family: 'Baloo Bhaijaan', cursive;
    color: white;

}

.gameText{

    font-size: 25px;
    font-family: 'Baloo Bhaijaan', cursive;
    color: white;

}
.loseText{

    font-size: 25px;
    font-family: 'Baloo Bhaijaan', cursive;
    color: purple;

}





